<% if user_signed_in? %>
	Welcome <%= current_user.email %>

	<p><%= link_to "Go To Snippets", pins_path, class: "btn btn-large btn-primary" %></p>

	<p><%= link_to "Change your password", edit_user_registration_path, class: "btn btn-primary" %></p>

<% else %>

<div class="center hero-unit">
    <h1>Vincents Rails App</h1>

    <h2>
      This a simple Rails app to help me learn a bit more about Rails
    </h2>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<% end %>